.completed {
  text-decoration: line-through;
  color: gray;
}

body {
  margin: 2rem;
  background-color: rgba(16, 80, 133, 0.5);
}

#task-input-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.btn-style:hover,
#addTaskBtn:hover {
  background-color: rgb(16, 80, 133);
  color: #f1f1f1;
  transition: background 0.3s all;
}

.btn-style,
#addTaskBtn {
  padding: 0.4rem 0.5rem;
  color: black;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-style:not(:nth-child(2)) {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
}

/* input */
#taskInput {
  border: none;
  background-color: gainsboro;
  height: 1.8rem;
  width: 25%;
  padding-left: 10px;
}

#taskInput:hover {
  outline: none;
}

#taskInput:focus-within {
  outline: none;
}

/* addTaskBtn */
#addTaskBtn {
  margin-left: 10px;
  height: 2rem;
  font-weight: bold;
}

/* taskList */
#taskList {
  list-style: none;
  padding: 0;
}

#taskList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(16, 80, 133, 0.1);
  gap: 10px;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
}

.task-text {
  flex-grow: 1;
}

.button-group {
  display: flex;
  gap: 8px;
}

.button-group button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}

/* Hover  */
.button-group button.edit-btn {
  background-color: #1f8feb;
}

.button-group button:hover {
  opacity: 0.9;
}

/* edit input style */
.edit-input {
  flex-grow: 1;
  padding: 0.4rem;
  font-size: 1rem;
}
