<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Task Manager</title>
    <link rel="stylesheet" href="../css/dashboard.css" />
  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <aside class="sidebar">
        <h2>Task Manager</h2>
        <nav>
          <ul>
            <li>
              <button data-section="dashboard">Dashboard</button>
            </li>
            <li>
              <button data-section="createTask">Create Task</button>
            </li>
            <li>
              <button data-section="allTasks" id="getTaskBtn">All Tasks</button>
            </li>
            <li>
              <button data-section="completed">Completed</button>
            </li>
            <li>
              <button data-section="pending">Pending</button>
            </li>
            <li>
              <button data-section="setting">Setting</button>
            </li>
            <li>
              <button id="logoutBtn">Logout</button>
            </li>
          </ul>
        </nav>
      </aside>

      <!-- Main Content -->
      <div class="main" id="content-area"></div>

      <!-- templates -->
      <template id="dashboard-template">
        <!-- Date & Time & Weather Feature -->
        <section class="dashboard-top-bar">
          <div class="date-time-placeholder">
            ⌚ Date & Time: <span id="dateTime">Loading...</span>
          </div>
          <div class="weather-placeholder">
            ☁ Weather: <span id="weatherInfo">Fetching Weather...</span>
          </div>
        </section>
        <!-- Stat Section -->
        <section class="stats">
          <div class="stat-card">
            Total Tasks: <span id="totalTasks">0</span>
          </div>
          <div class="stat-card">
            Completed: <span id="completedTasks">0</span>
          </div>
          <div class="stat-card">Pending: <span id="pendingTasks">0</span></div>
        </section>
      </template>

      <template id="createTask-template">
        <section class="create-task-section">
          <h2>Create Task</h2>
          <div class="task-form-wrapper">
            <!-- Left: Task Input -->
            <div id="task-input-section">
              <input
                type="text"
                maxlength="100"
                id="taskInput"
                placeholder="Enter a task"
              />
              <button id="addTaskBtn">Add Task</button>
            </div>

            <!-- Right: Recent Pending -->
            <div class="recent-pending">
              <h3>Recent Pending Tasks</h3>
              <ul id="recentPendingTasks">
                <li>Demo</li>
                <li>Demo 2</li>
              </ul>
            </div>
          </div>
        </section>
      </template>

      <template id="allTasks-template">
        <h2>All Tasks</h2>
        <ul id="taskList"></ul>
      </template>

      <template id="completed-template">
        <h2>Completed Tasks</h2>
        <ul id="completedTasks"></ul>
      </template>

      <template id="pending-template">
        <h2>Pending Tasks</h2>
        <ul id="pendingTasks"></ul>
      </template>

      <template id="setting-template">
        <h1>Comming Soon ...</h1>
      </template>
    </div>

    <script src="../js/dashboard.js" type="module"></script>
    <script src="../js/features/completed/ui.js" type="module"></script>
  </body>
</html>
