<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Verification</title>
    <link rel="stylesheet" href="../css/verify.css" />
  </head>
  <body>
    <div class="container">
      <h2>Verify Your Email</h2>
      <p>Please enter the 6-digit code we sent to your email.</p>
      <form id="verifyForm">
        <input
          type="text"
          id="vCode"
          name="code"
          placeholder="Enter verification code"
          maxlength="6"
          required
        />
        <button type="submit">Verify</button>
      </form>
      <div class="resend" onclick="resendCode()">Resend Code</div>
    </div>

    <script>
      const form = document.getElementById("verifyForm");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const code = document.getElementById("vCode").value;

        // Sending the code to server for matching with db code
        const response = await fetch("http://localhost:5000/api/auth/verify", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ code }),
        });

        const result = await response.json();
        if (response.ok) {
          alert("Verification Successfull");
          window.location.href = "../views/login.html";
        } else {
          alert("Verification Failed: ", +result.message);
        }
      });

      function resendCode() {
        // Calling the backend to resend code
        fetch("/api/resend-code", { method: "POST" })
          .then((res) => res.json())
          .then((data) => alert(data.message))
          .catch(() => alert("Failed to resend code."));
      }
    </script>
  </body>
</html>
